.div1 {
    /* width: 300px; */
    /* height: 100px; */
    border: 1px solid black;
    box-sizing: border-box;
    margin-left : 15px;
    padding: 5px 10px 10px 10px;
    float : left;
    margin-top : 10px;
    border-radius: 10px;
    /* display : flex; */
  }
  
.title {
  border: 1px solid black;
  box-sizing: border-box;
  padding-left : 15px;
  padding: 5px 10px 10px 10px;
  background-color: #ffc107;
  margin-bottom : 15px;
}


.specs {
  width : 300px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-left : 15px;
  padding: 10px;
}

.cards {
  display : inline-block;
  margin-top: 15px;
  }

.button {
  display : flex;
  margin-right: 5px;
  }

.filtre{
  padding-bottom : 10px;
  }

.columns {
  display : flex;
}

.colspec {
  padding-right : 10px;
}


.newBtn{
  display : flex;

}

.btncreate {
  display : flex;

}

.forms {
  display : flex;
}

.formNew {
  margin-left : 10px;
  width : 310px;
  height : 200px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-left : 15px;
  padding: 10px;
}

.bloc{
  display : flex;
  
}